[2015-08-14 11:16] TimBeyer opened #8 "location.search breaks server-side usage"
In https://github.com/HubSpot/PlanOut.js/blob/9a97c92ed29526ca810153321e442646c6f3f53f/es6/lib/utils.js#L14 `location.search` is accessed, which I assume is for overriding test parameters based on the URL.
Sadly this breaks usage on nodeJS since `window.location` is not available there.

For now I would propose to do a simple check whether it is available, but in the future it would probably be be

[2015-08-15 02:37] #8 closed

[2015-08-15 02:40] rawls238 commented on #8
Good catch on this. Yea this is mainly used for testing experiment parameter overrides locally when using SimpleNamespace - I'm going to add some more information about overrides to the README. There are overrides that can be defined in the definition of the namespace itself which should play much nicer with node versus the localStorage/query parameter way of defining overrides.

[2015-08-17 12:59] TimBeyer opened #10 "Do not parse assign function source code to get parameter names"
I just spent several hours trying to debug a mistake in my code, when I noticed that `experiment.experimentParameters` was returning weird data.

So I looked up the code and realized what's going on: https://github.com/HubSpot/PlanOut.js/blob/0d26ab31a3995cd490d01c271984629ec2051954/es6/experiment.js#L32-L40

You are parsing the actual code of the `assign` function to find `this.set('foo', bar)` s

[2015-08-21 04:04] rawls238 commented on #10
hm that is a good point, I didn't think of that usecase when this was added. Originally this was added to prevent this issue: https://github.com/facebook/planout/issues/69

We can potentially add a metadata function for each experiment where you define the range of experimental parameters that the experiment can take and the namespace can evaluate the metadata function with the key passed into the

[2015-08-30 14:48] #10 closed

[2015-08-30 20:44] eytan opened #12 "Create InterpretedExperiment class"
There is a demo / test for the interpreter itself, but AFAIK no code that demonstrates how the two would work together (in particular, this requires some integration with the inExperiment flag that specifies whether or not the experiment should do an exposure log).  @rawls238, are you guys using the interpreter in production?  If so, perhaps this example would be easy to hack up, otherwise I could

[2015-08-31 00:40] rawls238 commented on #12
@eytan we are mainly using the native API (with some slight modifications for internal-specific things) in production where experiment classes are stored in repositories that are shared between multiple projects mainly due to how fast it is relative to making a network request to fetch a serialized experiment, but I am slowly trying to get us to move to serialized experiment definitions so that we

[2015-08-31 01:20] eytan commented on #12
Feel free to send me an email at eytan at fb dot com.

Sent from my iPhone

[2015-08-31 13:08] TimBeyer commented on #10
Awesome, thanks @rawls238

[2015-09-01 00:00] rawls238 opened #13 "Add flow for type-checking"
https://github.com/facebook/flow

[2015-10-27 11:09] TimBeyer opened #20 "Improve Namespace performance"
I've noticed that when having many namespaces, and many experiments to set up and tear down again, which is the recommended way of handling changing experiments that are added and removed without reshuffling all assignments, performance starts to become an issue.
We've recently had to rewrite all of our experiments code to use caching via cookies because calculating those on every request signific

[2015-10-27 13:16] rawls238 commented on #20
@TimBeyer that definitely doesn't sound good, but we have not experienced the same perf issues. From my perf testing a while ago, random assignment should be incredibly quick (usually no more than 1ms overhead, usually less but I never recorded my results so this may be my memory playing tricks on me :) ). It's definitely possible that some recent changes may have caused some perf issues, though.

[2015-10-27 13:33] TimBeyer commented on #20
@rawls238 When I tested just a normal experiment assignment without namespaces, things were indeed around the 1ms mark. However, when using namespaces things started adding up.

Currently we're doing 4 experiments (there were 5 in total, but one was concluded and so to get consistent assignments it too needs to be added and removed during namespace initialization anyway until all the remaining tes

[2015-10-27 15:51] eytan commented on #20
FWIW at Facebook namespaces / experiments are stored in databases, so there is no sequential logic, and all of the param values are computed / filled in server side. Tim, if you are mostly working server side, that might be a more efficient and scalable approach.

[2015-10-27 20:03] rawls238 commented on #20
agreed with eytan about that approach if you are doing things server-side, but I have added a few bells and whistles to the namespace class in the recent past and have not verified that they don't have performance implications. Will let you know what you find

[2015-10-28 14:11] TimBeyer commented on #20
@eytan does that mean you have a large database containing all params for all visitors, and when a new experiment is released you update the whole database? I don't feel like I fully understand yet how the server-side approach would speed things up unless you already precompute all assignments before the requests come in. Either that, or you accept the performance hit on the first request of the u

[2015-10-28 19:19] eytan commented on #20
@TimBeyer, check out Section 5 of the [PlanOut paper](http://hci.stanford.edu/publications/2014/planout/planout-www2014.pdf).  In a production system, you typically wouldn't have these .addExperiment() and .removeExperiment() calls, and the code that manages the experiments would be completely separate from the code that retrieves the experiment definition and performs the assignment.  All of the

[2015-10-29 08:51] TimBeyer commented on #20
@rawls238 @eytan From looking at the code, it seems like the segmentation code is pretty much independent from the experiment assignment code in namespaces.
I'm wondering if it would make sense to split those things up, which would also have the benefit of making namespaces a bit less stateful, removing the need for the `requireExperiment` side-effect.

I'm thinking something like this: (apologies

[2015-10-29 16:23] TimBeyer commented on #20
@eytan after reading through https://github.com/HubSpot/react-experiments/pull/11#issuecomment-144199918 I realized we might be abusing namespaces as well, but pretty much the same reasons @gusvargas mentioned apply to us too.

Often you don't want to deal with the overhead in analytics and with making all variations work properly with all other variations until you have proven that they are worth

[2015-10-30 14:15] rawls238 commented on #20
@TimBeyer ```requireExperiment``` should only ever do experiment assignment once, even if it is called many times. I'm going to be spending some time today digging into the issues you described and see if I can find where we can make the biggest perf gains.

I think that your use of namespaces is fine - we talked about this and those are legitimate cases for using namespaces, though the primary us

[2015-10-30 15:16] rawls238 commented on #20
yikes! If you put segment size down to 100 then you have reasonable load times which is mainly what we do. That explains why I haven't run into this yet...

@TimBeyer I think I know how to make this better - PR incoming soon

[2015-10-30 17:05] rawls238 commented on #20
@TimBeyer good news is that I found some things that could lead to huge performance increases, not sure if I'll finish them today but definitely by next week.

[2015-11-02 04:20] rawls238 commented on #20
@TimBeyer I'm planning on publishing a new version tomorrow or Tuesday with the perf changes. Should be significantly faster than it was before. As stated previously, they won't be compatible with previous experiment assignments but you should be able to migrate things using the ```toggleCompatible``` flag.

[2015-11-03 14:28] DeTeam commented on #20
@rawls238 sounds nice! Is it already in master?

[2015-11-03 14:36] rawls238 commented on #20
@DeTeam not yet, still waiting on a second opinion of https://github.com/HubSpot/PlanOut.js/pull/22 before I push out a new release

[2015-11-03 19:11] rawls238 commented on #20
@DeTeam @TimBeyer just published v2.0 which should have substantial perf improvements. As noted before, it is incompatible with old experiment and namespace assignments so be careful when upgrading (you can always toggle it to be compatible with the old version by doing ```ExperimentSetup.toggleCompatibleHash(true)```

Closing this but file another issue if you encounter any other issues or email

[2015-11-03 19:11] #20 closed

[2015-11-29 17:05] rawls238 commented on #20
@TimBeyer did the updates fix the performance issues you were seeing?

[2015-11-30 10:47] TimBeyer commented on #20
@rawls238 yes, everything is great now.

[2015-12-03 09:21] dimitrkovalsky opened #23 "Interpreter ES5 example"
Hello, Could you provide example of using interpreter with ES5?

Thanks, Dmytro

[2015-12-06 02:03] rawls238 commented on #12
https://github.com/HubSpot/PlanOut.js/pull/24 adds the ```InterpretedExperiment``` class to the examples

[2015-12-06 02:03] #12 closed

[2015-12-06 02:03] rawls238 commented on #23
https://github.com/HubSpot/PlanOut.js/pull/24 adds this functionality. Please let me know if you have any issues or questions.

[2015-12-06 02:03] #23 closed

[2016-04-08 17:49] rawls238 opened #26 "Implement 0.6 ref implementation changes"

[2016-04-13 17:44] assiotis opened #27 "Interpreter fails if input value is "non-truthy""
An interpreted experiment will always return non-true values for non-truthy inputs, e.g. `{userid: 0}` or `{userid: false}`.

[code]

[2016-04-13 18:20] rawls238 commented on #27
Thanks for reporting this, I'll look into it tonight

[2016-05-12 17:10] assiotis opened #28 "Default Experiment causes unnecessary exposure logging"
I wanted to check if this was the intended behavior first before submitting a PR.
[Namespace.js line 281](https://github.com/HubSpot/PlanOut.js/blob/master/es6/namespace.js#L281), it will cause the default experiment to evaluate even if there is an experiment assigned to that segment. If the default experiment defines auto exposure logging, then the event will be logged twice, and given that the d

[2016-05-12 18:45] assiotis commented on #28
Looking at the python planout implementation, it turns out that I misunderstood the desired behavior of default experiments. They are meant to be simple key/value stores that experiment designers can use to define sensible defaults. The Python implementation goes as far as to explicitly define a DefaultExperiment class that bypasses exposure logging requests. Closing this issue.

[2016-05-12 18:45] #28 closed

[2016-06-20 11:38] tallstreet opened #30 "Add LICENSE"
What license is this source published under?

[2016-06-20 11:40] #30 closed

[2016-06-20 14:41] rawls238 commented on #30
The same license that the original Python PlanOut library uses: https://github.com/facebook/planout/blob/master/LICENSE

[2016-06-28 15:42] rawls238 opened #31 "Replace gruntfile with webpack config file"

[2016-07-08 14:45] #31 closed

[2016-07-08 15:48] #27 closed

[2016-07-08 15:58] rawls238 commented on #26
think this is done

[2016-07-08 15:58] #26 closed

[2016-07-21 18:12] rawls238 opened #38 "Tests don't pass on windows"
I was informed that someone ran the build and test script on windows and a lot of the tests failed. This issue is for both finding out what the cause of the issue is on windows as well as fixing it

[2016-07-21 18:19] rawls238 opened #39 "Investigate lodash modularized utilities"
@chrisvoll pointed out that we could replace a lot of the functions in the [utils file](https://github.com/HubSpot/PlanOut.js/blob/master/es6/lib/utils.js with) with [lodash modularized utilities](https://www.npmjs.com/browse/keyword/lodash-modularized). The whole point of the utils file is to reduce the bundle size by not having to pull in underscore/lodash since we only require a small subset of

[2016-09-01 17:47] rawls238 opened #41 "Intermittent Build Failures on Node v4"
see travis for examples of this

[2016-11-30 18:01] #41 closed

[2016-12-09 03:37] SunnyGurnani opened #43 "Ability to pass Experiment Instance from Props ?"
Experiment is getting initialized only once on the server instead of on every request.

[2016-12-09 13:51] rawls238 commented on #43
can you post some code and a bit more detail? You should be using your experiment class as a singleton so it makes sense that it's getting initialized only once on the server.

[2016-12-09 19:37] SunnyGurnani commented on #43
How to change the Unit of Experiment Dynamically ?

I want to get unit from url params through **react-router**

I tried
``` ExperimentSetup.registerExperimentInput('diet', routerProps.params.diet);  ```

But

[2016-12-09 19:50] SunnyGurnani commented on #43
Problem is parameterize() function takes Experiment instance which has to be created at File level instead of component level and at File Level you don't know current user id.

**Signup.js**
[code]

**Home.js**
[code]

**Login.js**
[code]

This will give an error that userId is not there which can be avoided by setting default value but when userId is set using ```ExperimentSetup.registerExperimen

[2016-12-09 19:54] SunnyGurnani commented on #43
Let me create this bug on react-experiments I think its more related to that than Planout.js

[2016-12-09 19:54] #43 closed

[2016-12-12 01:32] rawls238 commented on #43
I think the issue is that the component mounts before the user id is passed through since there's basically a race condition there. This is an unfortunate challenge to doing async user id passing. Perhaps there needs to be something in react-experiments that will make the component remount when a change in the user id is detected or something. Don't have time to look into this until the 22nd due t

[2017-01-07 01:56] MilesParker opened #44 "PlanOut.js from typescript?"
Hi,

This isn't a defect report, hope that's ok.

Has anyone been able to make the above work ideally against raw ES5 planout.js? We're not currently using npm or babel, so we're relying on plain old require.js and amd against non-ES6 .js libraries using d.ts. I understand that I'm going to have to add dependencies for sha1 and bignumber in as well..

I'm working my way through this: http://www.jb

[2017-01-09 17:36] MilesParker commented on #44
Closing as I'm going to have to go with server side approach for now. Hopefully as ES6 picks up speed we'll have some convergence with typescript and these issues will become trivial to deal with.

[2017-01-09 17:36] #44 closed

[2017-01-10 17:46] rawls238 commented on #44
Hi,

The examples are actually in ES5. I'm not sure if it'll help you get what you're looking for but take a look and let me know: https://github.com/HubSpot/PlanOut.js/blob/master/examples/sample_planout_es5.js

[2017-01-17 22:51] burin opened #45 "Interpreted Experiments don't change `inExperiment()` return value"
I was trying out the `return false` feature of the Planout language with the below script, and when I call `inExperiment()` on an interpreted experiment, it seems to always return the default value that the experiment is set at (`false` in Planout.js interpreter, but in the python version, it seems to be `true`. Haven't tried the python one to see if it exhibits the same behavior though /cc @eytan

[2017-01-17 22:53] burin commented on #45
Here are some tests that I've written (one fails to show this bug) that can be added to `testInterpreter.js`

[code]

[2017-01-20 10:09] redmagic opened #46 ".babelrc interferes with building"
When using `import PlanOut from 'planout';` and building with babel/webpack, babel tries to resolve the presets and plugins from Planout's `.babelrc`.

Since we are importing the transpiled code, this should not happen. While this can be circumvented using `babelrc: false` and extending to the parent project's `.babelrc`, it might be better to add the `.babelrc` to the command line used when testi

[2017-01-20 21:01] rawls238 commented on #46
good catch, feel free to PR the fix!

[2017-01-20 21:02] rawls238 commented on #45
definitely seems like a problem, hopefully will have some time this weekend to investigate this further

[2017-01-23 22:51] burin commented on #45
I just dug a little bit more, and it seems like creating two interpreted experiments one after another causes the second one to misbehave:

Both (second one doesnt behave as expected):
[code]

[code]

Second one alone properly takes you out of the experiment:

[code]

Output:

[code]

[2017-02-12 03:16] hare1039 opened #48 "Confirm about the license field"
Hi, I'm a member of cdnjs, and we want to add this library to our server.
Inside [package.json#59](https://github.com/HubSpot/PlanOut.js/blob/master/package.json#L59)
The license field is Facebook's `BSD-3-clause`.

Is this library is also `BSD-3-clause`?

[2017-02-14 04:23] rawls238 commented on #48
yup!

[2017-02-14 11:33] hare1039 commented on #48
Great! I'll add this library ASAP!

[2017-02-14 11:33] #48 closed

[2017-02-14 22:23] burkhartt opened #49 ""bower install planout" errors"
bower cached        https://github.com/HubSpot/PlanOut.js.git#3.0.1
bower validate      3.0.1 against https://github.com/HubSpot/PlanOut.js.git#*
bower cached        https://github.com/MikeMcl/bignumber.js.git#2.0.7
bower validate      2.0.7 against https://github.com/MikeMcl/bignumber.js.git#2.0.7
bower ENOTFOUND     Package sha1 not found

[2017-02-17 16:43] mattrheault commented on #45
Hi @burin , first of all thank you very much for filing this issue and providing us with a detailed explanation of the problem and an example to reproduce with. 💯  🙌

I dug into this issue and determined that this behavior is absolutely caused by a bug in the interpreted experiment class. I put together a fix & wrote up a description of the problem over in #50

Apologies on my part for the delayed

[2017-02-17 17:32] #45 closed

[2017-03-02 03:23] rawls238 commented on #49
@mattrheault I'm not actually sure I actually published this properly on bower...would be great if you could figure out how to do that

[2017-03-04 03:51] jcwilson opened #52 "planout_core_compatible namespaces are not core compatible"
### Problem
The `planout_core_compatible.js` distribution in 3.0.* does not allocate namespace segments in a compatible manner.

I have done a little digging into the webpack'd distribution, but I'm at a loss to explain the root cause. The best I can tell is that when `SampleBuilder.sample()` calls `this.compatSampleIndexCalculation()` it gets routed to `SampleBuilder.compatSampleIndexCalculation`

[2017-03-04 04:01] rawls238 commented on #52
This is incredibly interesting and bizarre. I won't be able to look into it until the end of next week at the earliest though, not sure if @mattrheault has some time to take a look.

I don't think the webpack version has been updated in a while so perhaps the easiest first thing to try is seeing if this still reproducible moving to the newest version of webpack

[2017-03-04 06:29] jcwilson commented on #52
I can't rule out that it's something specific to my setup, somehow. Unfortunately, I just have my one data point.

For reference, though:

[2017-03-04 09:21] jcwilson commented on #52
I think I can explain what's happening, though I don't have a good answer for fixing it yet.

First, upgrading webpack didn't resolve it, but I don't think it hurt anything.

I noticed that in the `Namespace` module, we have the following import:
[code]

This will essentially "freeze" the non-core-compatible code into the `Namespace` module. In fact, this pattern is repeated in several other place

[2017-03-06 15:51] mattrheault opened #56 "Investigate ways to avoid assign.toString() to grab param names"
https://github.com/HubSpot/PlanOut.js/blob/master/es6/experiment.js#L32

Ideally we should have a way to proxy params when they are set so that the names exist on the experiment class instance.

[2017-03-10 16:08] mattrheault opened #57 "Rethink namespace / experiment name as part of assignment algorithm in JS port only"
**Methods in question:**

- [getDefaultNamespaceName in namespace.js](https://github.com/HubSpot/PlanOut.js/blob/master/es6/namespace.js#L304)
- [getDefaultExperimentName in experiment.js](https://github.com/HubSpot/PlanOut.js/blob/master/es6/experiment.js#L21)

I don't think that we should be using the namespace / experiment class names as part of the core planout assignment algorithm in the java

[2017-03-10 18:24] jcwilson commented on #57
Very interesting. I agree with your analysis, but maybe not the conclusion - at least for the core-compatible implementation. Anyone who has used AngularJS has run into a [similar problem ](http://frontendcollisionblog.com/javascript/angularjs/2015/03/31/something-no-one-tells-you-about-minifying-angularjs-controllers-until-its-too-late.html)with the way one would describe their injected dependenc

[2017-03-10 19:46] rawls238 commented on #57
I remember thinking about this a while ago - one idea I had when I was originally implementing this was that it should simply be a pseudo-"required" method when extending the Experiment or Namespace class precisely because of the minification issue.

IIRC we shouldn't have the same default name across experiments and namespaces since this affects the salt used in randomization and could inadverten

[2017-03-10 19:49] mattrheault commented on #57
@rawls238 I like the approach of making experiment / namespace names required. 👍

I'll put together a PR for that, and then combine those changes with the changes in https://github.com/HubSpot/PlanOut.js/pull/54 to prep for a v4.0 release.

[2017-03-10 19:54] rawls238 commented on #56
We do have a way to do this though through `getParamNames()`.

The whole point of this magic is that users don't have to explicitly worry about this every time when setting up an experiment. In my mind there are two possible other ways to do this:

1) Have `getParamNames()` be forced to be manually set. My view is that this is basically having two sources of truth and makes things prone to careles

[2017-03-10 21:38] geoffdaigle commented on #57
@mattrheault Might be helpful to toss in a "why do I need to set the name?" section in the docs in case devs care (or in case we forget).

[2017-03-12 16:31] mattrheault commented on #57
Addressed in - https://github.com/HubSpot/PlanOut.js/pull/59
V4.0 release - https://github.com/HubSpot/PlanOut.js/pull/58

[2017-03-12 23:19] mattrheault commented on #56
@rawls238 for context, we got bit by this a few weeks ago.

**What we did:**

[code]

As you can see here, because we proxied the actual assignment of parameter names to another method, the ```toString()``` of assign would never contain any ```.set()``` methods for the regex to match.

I don't think that this issue is super high priority since I doubt that many people will ever run into this probl

[2017-03-13 19:25] rawls238 commented on #56
I see, but having something like the second solution would constrain the flexibility of assignment (at least with what I have in mind). I have some vague idea on how to make it better, I'll tag you in the PR if I try it and works and makes sense

[2017-03-16 14:20] #57 closed

[2017-03-16 14:29] mattrheault commented on #52
Fixed in [v.4.0.0 release](https://github.com/HubSpot/PlanOut.js/pull/58).

[2017-03-16 14:29] #52 closed

[2017-03-16 14:32] #38 closed

[2017-04-23 15:26] phykas opened #61 "Random number generation"
Hi guys,
First, enjoying your library so far, and want to thank you for investing your time into porting this great library to js. I do have one question, and it's about this line:

https://github.com/HubSpot/PlanOut.js/blob/master/es6/ops/randomBase.js#L8
`hashCalculation(hash) {
    return parseInt(hash.substr(0, 13), 16);
  }`

Are you sure that should be 13, because I'm doing some C# library a

[2017-04-23 16:05] phykas commented on #61
"The underlying randomization ops in the JavaScript implementation return different results for efficiency reasons."
This is probably the reason? :)

[2017-04-24 22:51] mattrheault commented on #61
Yeah this is definitely for efficiency reasons and possibly JS's [MAX_SAFE_INTEGER](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER), though I can't remember whether that played a factor. @rawls238 might remember better on that.

Either way, the JS port of planout is not core compatible by default with it's sibling implementations. If you've

[2017-04-24 23:15] rawls238 commented on #61
Sorry I meant to respond to this. It has to do with JS's `MAX_SAFE_INTEGER` as @mattrheault mentioned. Ideally we could just use 15 here and so many headaches would be saved, but we can't so we have to resort to using `bignumber.js` to get compatibility which results in efficiency issues relative to not using the library. In your C# library you should use 15.

[2017-04-25 00:26] eytan commented on #61
+1.

On Mon, Apr 24, 2017 at 4:15 PM, Guy Aridor <notifications@github.com>
wrote:

[2017-04-25 13:47] phykas commented on #61
Thank you very much for your answer, I'll use 15 in C# then...  :)

[2017-04-25 13:47] #61 closed

[2017-05-03 07:53] ckuijjer opened #63 "Running examples/experiment_verification.js leads to a `throw "IMPLEMENT setup"` error"
Running the example in _examples/experiment_verification.js_ leads to a `throw "IMPLEMENT setup"` error.

I've tried fixing this in pull request #62 by adding the `extend` method as also used in _sample_interpreter_es5.js_ and _sample_planout_es5_

[2017-05-03 13:36] rawls238 commented on #63
Ah I forgot about these, they must have not been updated in the update to 4.0. @mattrheault can you take care of this?

[2017-05-05 19:02] mattrheault commented on #63
Fixed in https://github.com/HubSpot/PlanOut.js/pull/64

[2017-05-05 19:02] #63 closed

[2017-08-03 21:26] amishyn opened #65 "Safari hangs when using planout_core_compatible.js"
I have installed planout_core_compatible.js and using UniformChoice. It works good across all browsers except Safari (Mac OS 10.12.6, Safari 10.1.2). In safari is enters loop in randomIndexCalculation. Is it known issue ?

[2017-08-04 18:45] mattrheault commented on #65
@amishyn yup this is a known issue for all browsers. I would recommend that you avoid using the core compatible bundle if possible... especially if you are going to evaluate experiment param values on the client side.

Out of curiosity, why did you choose the core compatible bundle instead of the default bundle?

From the docs:

[2017-08-04 18:47] rawls238 commented on #65
@mattrheault any ideas what the root cause is? Is it for all random ops?

[2017-08-04 19:00] mattrheault commented on #65
Hrmm, I'm re-reading this now. While core compatible random ops are slower, I cannot get safari or any other browsers to hang indefinitely on a uniform choice, or any other op for that matter.

@amishyn would you mind sharing your experiment param / namespace code?

[2017-08-04 20:00] amishyn commented on #65
Hi @mattrheault,

I've chosen compatible version because at the moment I'm in process of setting up experiments infrastructure and not sure where will I need it frontend/backend, most probably will need it on both. Thus as the safest version I selected compatible. Which turned out to be not the safest :-) When I switched to planout.js it works fine in safari. So I'm going to proceed with it.

 Her

[2017-08-13 14:57] mattrheault commented on #65
I ran the experiment you posted locally against the core compatible version and investigated a bit. Unfortunately, I was unable to break my browser (this time).

The line you are referring to @amishyn is from [BigNumber.js](https://github.com/MikeMcl/bignumber.js/blob/b12705646d76f8867861affe0646faaadbd3a55e/bignumber.js#L1751), which is a library the core compatible version uses to ensure the out

[2017-08-13 15:14] rawls238 commented on #65
One really easy thing to try to fix this is to see if there is an update to BigNumber and simply update the version and see if this resolves the issue.

[2017-09-29 18:00] alexindigo commented on #39
I agree it would be beneficial for all parties to adopt more Javascripty way and split it into / reuse npm modules.

For example Random operation could be it's own npm module, allowing community to benefit from it in more ways.

Thank you.

[2017-11-28 19:54] kasual1 opened #66 "inputs is undefined"
Hey guys,

for a project at my university I need to implement PlanOut. Since my web app runs on angular (v.5.0.0) I try to use PlanOut.js to integrate it into my project, but It seems like I'm  missing something.

When I extend my class MyExperiment from Experiment it does not seem to override the constructor properly. When I try to create an experiment like this:

    var exp = new MyExperiment({

[2017-11-29 20:36] kasual1 commented on #66
Figured out how to do it. Thanks for your effort. Great library!

[2017-11-29 20:36] #66 closed

[2018-02-01 12:37] joshuatTW opened #67 "Allow an experiment (not just a namespace) to be locally overridden"
If I'm correct, only namespaces can be locally overridden. It would be nice to be able to test a single experiment locally.

[2018-02-01 12:56] rawls238 commented on #67
I agree that that sounds like something reasonable that should be doable with the library. I’ll think about the best way to implement this this weekend

[2018-02-11 22:17] #65 closed

[2018-03-15 17:06] rawls238 opened #68 "Weird Installation Issues"
I just attempted to set up the library on a new project and ran into some weird installation issues that should be resolved. Specifically, I needed to install the babel stage-0 plugin and the module transform plugin. The exact error ```Module build failed: ReferenceError: [BABEL] /Users/garidor/Desktop/damp-ocean-76383/hello/static/js/src_2/index.js: Using removed Babel 5 option: foreign.modules -

[2018-03-15 17:08] rawls238 commented on #68
Whoops, this was reported at some point in the past here https://github.com/HubSpot/PlanOut.js/issues/46

Realistically I won't get around to fixing this for a while - @mattrheault could you take a look if you have time?

[2018-03-15 17:28] rawls238 opened #69 "Experiment Inputs Don't Register Outside Namespaces"
Registered experiment inputs only work for experiments defined within the context of a namespace.

This is a bit annoying! We should also allow experiment inputs to be defined on a per experiment basis

[2018-03-15 17:29] rawls238 commented on #69
related issue: https://github.com/HubSpot/PlanOut.js/issues/67

[2018-03-19 21:56] jorilallo commented on #67
@rawls238 finally jumping into using Planout.js and also ran into this issue (and banged my head against the wall as it wasn't documented a bit).

[2018-03-20 03:20] rawls238 commented on #67
ah sorry, definitely should have been better documented. However, this should be easy to implement...hopefully will find some time this week to add this functionality.

[2018-04-12 14:29] harshadptl opened #71 "Need an example for an Interpreted Experiment"
Right now, it is not so clear and I am having a hard time getting it work

[2018-04-15 21:06] rawls238 commented on #71
noted

[2018-08-09 21:52] cristygrant opened #72 "Is there a way to get all possible variants an experiment can produce?"
I'd like to be able to get a list of all possible variants (or assignments) for a given experiment using planout. Is this currently possible? For example, if I have an experiment using weighted Choice with "control", and "test", is there a way I can get back that "control" and "test" are the possible assignments using planout library?

[2018-10-17 02:31] paulinetheitgirl opened #73 "Call async/await inside log and previouslyLogged"
If I call my own API inside the `log()` and `previouslyLogged()`, is it possible to use Promises or async/await to get the result of the API call? For example if I want to have an endpoint that writes the event to an external log inside `log()`, and then another endpoint that reads the log to determine if the event was `previouslyLogged()`.

[2018-11-28 15:57] thethomaseffect commented on #73
You probably long figured this out but yes and no. If you're manually calling `log` then there's nothing stopping you but if you use stuff like `logExposure` then your log function will be called without `await` and thus no way to handle errors. I'd take a look at the code in `experiment.js` and write your own `logExposureAsync` based on what's there for now.

[2018-11-28 16:02] thethomaseffect commented on #72
Call `getDefaultParamNames()` on your `Experiment` object

[2019-02-24 11:18] scottfr commented on #67
It would be great to have this feature implemented.

[2019-06-26 12:20] rawls238 commented on #72
Sorry for the late response on this. There is no obvious way to currently do this, but we could add something to do this if you thought it would be useful.

[2019-09-09 11:08] alok87 opened #76 "Calculation of random integer needs a fix ?"
https://github.com/HubSpot/PlanOut.js/blob/2e917673fc47146c09a4b040188b0cc7479cc203/es6/ops/randomPlanoutCoreCompatible.js#L25-L29

## Test case where it is failing
Min Value = 7
Max Value = 20
getHash() = 108
Result = 108.plus(7).modulo(20 - 7 + 1) = 115 % 14 = 3

Issue: 3 is not in range between 7 and 20

The formula will not work if the min > 0.

Should  not the formula be
`return this.getHash(

[2019-09-10 17:22] rawls238 commented on #76
Thanks, yes this seems like a bug. Can you put up a PR with the fix as well as some tests?

[2019-09-17 15:07] sunnybit opened #77 "Enable experiment activation option for running the experiments on selected users"
Enable experiment activation option for running the experiments on selected users(% of traffic, device specificity). Also, include a stickiness parameter in the cookie for the users not selected  in an experiment.

[2019-09-17 18:29] rawls238 commented on #77
Is there any use case that can't be covered by wrapping in a namespace? For instance, only exposing an experiment to 30% of users is relatively simple to do with namespaces.

I also do not know what you mean by a stickiness parameter so hoping you can clarify

[2019-09-17 18:29] #13 closed

[2019-09-18 14:00] sunnybit commented on #77
@rawls238 Stickiness was referred to user experience. After the experiment started, users who are not selected for the experiment should persist unitl the experiment is alive.

[2020-01-25 01:55] dobesv opened #79 "Running interpreter on an experiment should set `this._inExperiment = true` if no `return` is run"
I believe the PlanOut language expects that if you don't `return false` then the experiment is considered active.

Currently the interpreter only sets `_inExperiment = true` if you explicitly `return true` in the script.

[2020-01-25 02:00] dobesv commented on #72
One use case for this would be if I want to show a user interface to allow the user to set overrides manually when testing.  The UI could show the available options for each parameter.

Writing an algorithm for this isn't too terribly daunting, though.  You can walk the tree of ops or code (depending which you are using) and do the math.  If there are conditionals and return involved, then it gets

[2020-01-25 16:53] rawls238 commented on #79
Seems reasonable, feel free to PR

[2020-01-25 17:15] eytan commented on #79
Yes, at some point we eliminated the magic variable, in experiment. Returning false is the way folks should be disabling logging.

Sent from my iPhone

[2020-01-29 00:01] dobesv commented on #72
I've been working on a prototype of this in here: https://github.com/dobesv/planout-ts/blob/master/src/PlanOutParameterGatherer.ts

Just in case anyone is interested, maybe we can collaborate.

[2020-02-11 14:14] udayraj-ud commented on #71
Same problem here. Referring to [sample_interpreter_es5.js](https://github.com/rawls238/PlanOut.js/blob/master/examples/sample_interpreter_es5.js). Would appreciate help with the following -
1. Need clarity on how to use an interpreted experiment with NameSpaces or whether it is currently supported. Passing `Interpreter` to NameSpace produces `Missing argument unit` [error](https://stackoverflow.c

[2020-03-24 00:00] dobesv commented on #44
FWIW I have made an attempt at this here:

https://github.com/dobesv/planout-ts

[2020-04-18 18:50] rawls238 commented on #76
fixed in  #78

[2020-04-18 18:50] #76 closed

[2020-04-19 17:37] #68 closed

[2020-04-19 17:37] #46 closed

[2020-04-19 17:37] #49 closed

[2020-04-19 17:38] rawls238 commented on #49
from now on, only npm will contain the latest version.

[2020-04-19 17:38] #39 closed

[2020-04-19 23:09] tmcdonnell87 opened #81 "default import stopped working with upgrade to v5"
Code:
[code]
Error is that PlanOut is undefined. Now that it is exported as a module, everything must be imported as something like `import { Experiment } from 'planout'`.

This is a breaking change; if intentional, it should be called out in the ReadMe.

Thanks for your work maintaining this!

[2020-04-19 23:12] rawls238 commented on #81
yes this came about as a result of the 4.0 change, which apparently had not been pushed to npm. Sorry about this. I will make it explicit in the change log and README.

[2020-04-26 15:26] rawls238 commented on #67
this has been implemented thanks to @niklasnordlund!

[2020-04-26 15:26] #67 closed

[2020-06-04 00:42] glifchits commented on #81
[code]
is a workaround which makes code behave just like it did before.

@rawls238 I'm not sure whether you've updated the README yet, but the main example on the README is out-of-date / incorrect.

Also, thanks for maintaining this library! 😄

[2020-06-07 00:13] rawls238 commented on #81
@glifchits good catch! I will update it

[2020-06-07 00:17] rawls238 commented on #81
@glifchits I have updated the README to reflect this. I'll close the issue now since that this has been directly addressed in the README now.

[2020-06-07 00:17] #81 closed

[2020-08-05 10:35] gilm123 opened #86 "are types missing in the npm package?"
hii,
i'm writing in typescript and couldn't find anywhere in the installed the package the d.ts i saw was recently added

[2020-08-18 15:18] rammie commented on #86
Hello, thanks for this awesome package! Can we get a new npm package with the types when you have some time? Thanks!

[2020-08-19 14:46] rawls238 commented on #86
thanks for reminding me! Will update on NPM sometime this week

[2020-08-29 13:19] rawls238 commented on #86
Latest version is updated and publish as planout@5.1.0. Let me know if there are any issues!

[2020-08-29 13:19] #86 closed

[2020-11-10 16:31] tehandyb opened #87 "How to use LazyInterpretedExperiment in namespace?"
Is there an example for doing this? I found an example for LazyInterpretedExperiment https://github.com/rawls238/PlanOut.js/blob/master/examples/sample_interpreter_es5.js#L28 but was wondering how that experiment can be added to a Namespace since the namespace will not inherit any experiment params when it's instantiated

[2020-12-12 00:09] gita-v opened #88 "No longer loads with webpack 5"
# Bug report

I have an issue with [planout](https://www.npmjs.com/package/planout) that bundled fine with Webpack 4 but no longer works with Webpack 5.

**What is the current behavior?**
Module is not loaded:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Repo Here:

https://github.com/gita-v/webpack_issue

**What is the expected behavior?**

For module to l

[2020-12-12 00:11] rawls238 commented on #88
Thanks for reporting this! Will look into it

[2020-12-12 01:33] gita-v commented on #88
I am trying to debug as well and am having issue running jest tests; I keep getting `No tests found` error.. Is there something I have to update to be able to run the tests.

[2020-12-22 01:44] gita-v commented on #88
Please review

https://github.com/rawls238/PlanOut.js/pull/90

[2020-12-23 19:48] rawls238 commented on #88
Closed by #90

[2020-12-23 19:48] #88 closed

[2020-12-23 19:49] rawls238 commented on #88
pushed to npm

[2020-12-24 19:26] rawls238 commented on #87
I'm not sure. I think this is @mattrheault's doing, so it's possible that he has some examples

[2021-01-19 21:29] karmasakshi opened #92 "Need to understand the significance of second parameter of get()"
https://github.com/rawls238/PlanOut.js/blob/86470825da681b45598894db38b550d4a645daa8/types/index.d.ts#L194

When I say `experiment.get(param)` I get the error that `get()` expects two parameters. What is the value expected here?

[2021-01-19 21:32] rawls238 commented on #92
It is the default value.

[2021-01-19 21:42] karmasakshi commented on #92
I thought so too. Maybe I don't fully understand when this value will be used. Will the default value be returned if I pass an empty choices array?

If you'd like to have a look at my code, here's a service that returns a configuration to a user. https://github.com/karmasakshi/planout-store/blob/main/apps/api/src/app/configuration/configuration.service.ts

... and here's the PlanOut class:
https:/

[2021-01-27 10:19] karmasakshi commented on #92
I noticed the default value when I didn't pass the param. Thanks for your input.

[2021-01-27 10:19] #92 closed